* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    text-decoration: none;
  }

.navbar {
    display: flex;
    width: 100vw;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    height: 40px;
}

.logo {
  font-size: 25px;
  color: white;
  font-weight: bolder;
  font-family: 'Rampart One', cursive;
}

.navbar-links {
  font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 4.5vh;
}

.auth-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15vh;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bW91bnRhaW58ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    // background-image: url("https://images.unsplash.com/photo-1561679619-e77c4207fb17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTl8NDI1NTM5MXx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60");
    // background-image: url("https://media.istockphoto.com/photos/abstract-futuristic-with-connection-lines-on-blue-background-plexus-picture-id1285395672?b=1&k=20&m=1285395672&s=170667a&w=0&h=Wkn9h7EjOTLAAG8zSoTcnvrDrtFjTOPryJeIOBlD3r4=");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .auth-container > h1 {
    font-family: "Bebas Neue", cursive;
    font-size: 7vh;
    color: beige;
  }

  .auth-container > form {
    border: 1px solid #3339;
    padding: 20px;
    border-radius: 5px;
    background-color: #aaa9;
    display: flex;
    flex-direction: column;
  }
  
  .auth-container > form > input {
    margin: 16px 8px;
    padding: 8px;
    border-radius: 4px;
  }
  
  .auth-container > form > button {
    margin: 16px 8px;
    padding: 8px;
    border-radius: 4px;
  }

  .authMsg {
    padding-top: 2vh;
    cursor: pointer;
    color: beige;
  }
  

  #togglePassword {
    margin-left: 0px;
  }

  

.home-page {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
}

// scroll bar
::-webkit-scrollbar {
  width: 10px;

}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(215,222,230,1);
  border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.contact-sidebar-container, .profile-sidebar-container, .settings-container {
    height: 92vh;
}

.about-container {
  background-image: url("https://images.unsplash.com/photo-1553905346-3b6e399115b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  height: 92vh;
  font-family: "Poppins", sans-serif;
}

.members > p > a:hover {
  color: rgb(160, 164, 172);
}

.about-info, .contact-info {
  background-color: rgba(0, 0, 0, 0.233);
  text-align: center;
  color: white;
  /* width: 100%; */
}
.about-info > p{
  padding-top: 12vh;
  padding-bottom: 12vh;
  font-family: 'Manjari', sans-serif;
  font-size: 1.5vw;
  margin-left: 15vh;
  margin-right: 15vh;
  
}

.about-title, .contact-title, .change-theme-title{
  margin-bottom: 3vh;
  color: beige;
  font-size: 4.5vw;
}

/* contact in settings */
.contact-container {
  background-image: url("https://images.unsplash.com/photo-1423666639041-f56000c27a9a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29udGFjdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  height: 90vh;
  font-family: 'Poppins', sans-serif;
}

.contact-info > p {
  padding-top: 12vh;
  padding-bottom: 12vh;
}

.contact-icons {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  padding-bottom: 3vh;
  
}

.contact-icons > i, .span-contact-info {
  font-size: 2vw;
}
.contact-icons > i{
  padding-bottom: 2vh;
}

.span-contact-info {
  font-family: 'Manjari', sans-serif;
}

.social-media-icons {
  padding-bottom: 50px;
}

.social-media-icons > i{
  padding-right: 2vh;
  font-size: 5vw;
}

.social-media-icons > i:hover {
  color: purple;
  cursor: pointer;
}

.contact-sidebar-container {
 /* background-color: blue; */
 /* display: flex; */
 border-right: 2px solid rgba(175, 173, 173, 0.671);
 overflow-y:scroll;
}

.input-container {
  position: fixed;
}

.members{
  // text-align: center;
  padding-left: 5px;
  padding-top: 40px;
  font-family: 'Manjari', sans-serif;
}

.member-name {
  text-align: center;
  font-size: 3vh;
  font-weight: bold;
  color: black;
  // background-color: rgb(212, 209, 209);
  background: rgb(35,99,171);
background: linear-gradient(90deg, rgba(35,99,171,1) 27%, rgba(215,222,230,1) 69%);
}

.members-avatar {
  vertical-align: middle;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border-color: gray;
  border-style: outset;
}

.members-avatar:hover, .members-name:hover {
  cursor: pointer;
}

.profile-sidebar-container {
    align-items: center;
    text-align: center;
    border-left: 2px solid rgba(175, 173, 173, 0.671);
    padding-top: 10%;

}

.message-container > p {
  padding: 15px;
  border: 1px solid blue;
  background-color: blue;
  color: white;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 10px;
}

.text-container {
    margin-top: 87.1vh;
    text-align: center;
    display: table;
}

.text-input-container {
  display:table-cell;
  width: 27.5vw;
}

/* settings css */

.settings-container {
  height: 92vh;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  background-color: rgba(0, 0, 0, 0.959);
  padding-top: 7vh;
}

.settings-container > h1 {
  font-family: 'Poppins', sans-serif;
  color: rgb(241, 239, 239);
  font-weight: bold;
}

.settings-link {
  color: rgba(238, 234, 234, 0.911);
  font-family: 'Manjari', sans-serif;
}

.settings-link:hover {
  color: rgb(33, 84, 143);

}

.settings-hr {
  border: 1px solid rgb(209, 207, 207);
}

/* change theme */
.change-theme-container {
  background-image: url("https://images.unsplash.com/photo-1599422314077-f4dfdaa4cd09?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODJ8fGFic3RyYWN0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  height: 92vh;
  text-align: center;
}

.cards-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.change-theme-title {
  padding-top: 10vh;
  
}

.change-theme-description {
  color: white;
  padding-bottom: 3vh;
}

.change-theme-card {
  width: 300px;
  height: 250px;
}

.change-theme-card > div > input {
  cursor: pointer;
}

.change-theme-card:hover {
  border-color: #9ecaed;
  box-shadow: 0 0 14px #9ecaed;
}

// change avatar
.avatar {
  vertical-align: middle;
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  border-color: gray;
  border-style: outset;
}

.change-profile-container {
  background-image: url("https://images.unsplash.com/photo-1530519729491-aea5b51d1ee1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzN8fHdoaXRlfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  height: 92vh;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-title {
  font-size: 4vh;
  font-family: 'Bebas Neue', cursive;
  
}

.profile-info,.members-name {
  font-size: 2.5vh;
  font-family: 'Roboto', sans-serif;
  
}

.profile-username {
  padding-top: 6%;
  font-weight: bold;
  font-size: 3vh;
}

.logout-btn {
  color: black;
  background: rgb(33, 84, 143);
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
}

.logout-btn:hover {
  transition: 200ms linear; 
  cursor: pointer;
  background: rgb(33, 84, 143);
  color: white;
}

.image-wrapper {
  padding-bottom: 15px;
}

.image-container {
  color: beige;
  background-color: rgba(8, 8, 8, 0.521);
  padding-bottom: 30px;
  padding-top: 20px;
  border-radius: 5%;
}

.image-container > h1 {
  margin-bottom: 15px;
  color: beige;
  font-size: 100%;
  font-family: 'Poppins', sans-serif;
}

.preview-image {
  border: solid 2px black;
  height: 180px;
}

.file-input {
  margin-left: 100px;
}

// messages
.start-chat {
  font-size: 7vh;
  text-align: center;
  padding-top: 40%;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #152457 0%,
    #090542 29%,
    #287ff0 67%,
    #00b7ff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

// delete toggle
.delete-toggle {
  float: right; 
  font-size: 2.5vh; 
  margin-top: 7px;
  margin-right: 5px;
  cursor: pointer
}

.delete-toggle:hover {
  cursor: pointer;
  color: rgba(255, 0, 0, 0.74);
  transition: 400ms linear; 
  // color: rgba(255, 0, 0, 0.384);

  
}

.delete-btn {
  color: black;
  background-color: rgba(255, 0, 0, 0.74);
  border: none;
  border-radius: 2px;
  padding: 2px 4px;
}

.delete-btn:hover {
  background-color: rgba(255, 0, 0, 0.384);
  transition: 200ms linear; 
  cursor: pointer;
  color: white;
}

// div messages
.messages {
  padding-top: 10px;
  padding-right: 8px;
  padding-left: 8px;
  height: 64vh;
}

.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.messageTop{
    display: flex;
}

.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.messageText{
    padding: 10px;
    border-radius: 20px;
    background-color: #1877f2;
    color: black;
    max-width: 300px;
    font-size: 18px;
}

// testing css
.messageBottom{
  font-size: 12px;
  margin-top: 10px;
}

.message.own{
  align-items: flex-end;
}

.message.own .messageText{
    background-color: rgb(245, 241, 241);
    color: black;
}


.messenger {
  height: calc(100vh - 70px);
  display: flex;
}

.chatMenu {
  flex: 3.5;
}

.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
}

.chat-box {
  flex: 5.5;
  overflow-y: scroll;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxTop {
  height: 100%;
  padding-right: 10px;
}

.chat-box-bottom {
  // margin-top: 5px;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // // margin-top: 80%;
  // position: fixed;

}

.chat-message-input {
  display: flex;
  align-items: center;
  width: 50%;
  position: fixed;
  color: black;
  resize: none;
  padding: 0px 5px 0px 5px;
}

.chat-submit-btn {
  margin-top: 55px;
}

.chat-submit-btn, .chat-clear-btn{
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: black;
  position: fixed;
  padding: 5px 10px;
  text-align: center;
  background: rgb(33, 84, 143);
}

.chat-clear-btn {
  margin-left: 60px;
  margin-top: 55px;
}

.chat-submit-btn:hover, .chat-clear-btn:hover {
  color: white;
  transition: 200ms linear; 

}

.chatOnline {
  flex: 3;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 100%;
}
// ***
.noConversationText {
  
  font-size: 30px;
  color: rgb(224, 220, 220);
  cursor: default;
}

/* media queries */